.container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  flex-direction: column;
  padding-top: 20vh;
  .wrapper{
    width: fit-content;
    outline:1px solid red;
  }
}
