.table {
  width: 100%;
  height: fit-content;
  font-size: 0.8rem;
  border-spacing: 0;
  border-radius: 10px;
  padding: 0 1%;
  border-spacing: 0 2vh;
  font-size: 1.5rem;
  .imgContainer {
    width: 10vw;
    overflow: hidden;

    max-width: 200px;
    aspect-ratio: 3/2;
    border-radius: 10px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .iconContainer {
    cursor: pointer;
    width: fit-content;
  }
  thead {
    margin: 0;
    display: table-header-group;
  }

  th {
    position: relative;
    text-align: start;
    color: #0b1517;
    font-weight: 500;
    padding-bottom: 20px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      border-top: 1px solid #0000009a;
    }
  }

  td {
    width: fit-content;
    padding-bottom: 10px;
  }

  tr {
    position: relative;
    height: fit-content;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #00000065;
    }
  }

  tbody {
    margin-top: 5vh;
    tr {
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  /// for margin: ;
  tbody:before {
    line-height: 1em;
    content: "\200C";
    display: block;
  }
}
@media (max-width: 800px) {
  .table {
    font-size: 1rem;
  }
}
